*{
	background-color:gray;
}
body{
	margin:0;
	padding:0;
	background-color:gray;
	background-size: cover;
}
.hompage{
	position:absolute;
	width:80%;
	max-width:600px;
	padding:30px 40px;
	transform:translate(-50% -50%);------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
}
h1{
	padding-bottom:40px;
	padding:10px;
	background-color:gray;
	color:white;
		text-align:center;}
		nav{
	
	margin-top:10px;
	overflow:hidden;
}
nav a{
	float:left;
	padding:10px 105px;
	text-decoration:none;
	font-size: 20px;
	color:black;
	background-color: white;

}
nav a:hover{
	background-color:gray;
}

.contact-form{
	width:80%;
	max-width:600px;
	background:red;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	padding:30px 40px;
	box-sizing: border-box;
	border-radius:8px;
	text-align:center;
}
.texte label{
	color:solid black;
	font-size:20px;
}
.textf {
	display:block;
	color:white;
	font-size:20px;
}
.name{
	font-size:40px;
}
.heading2{
	font-size:30px;
}
.heading3{
	font-size:20px;
}
img{
	width:70%;
	height:30%;
	background-size:cover;
	background-repeat:no-repeat;
}